.right-aligned {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.icon-back:hover {
	cursor: pointer;
}

.icon-logout {
	padding: 4px 0;
}
.icon-logout > i {
	margin-top: 0;
}
.icon-logout:hover {
	cursor: pointer;
}

.user-name {
	font-size: 18px;
	font-weight: bold;
}
